<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<p>A new article has been created <%= @article.title %>!</p>
<p>
  Article details<br>
  --------------------------
</p>
<p>Title: <%= @article.title %></p>
<p>
  Message:<br>
  ----------
</p>
</body>
</html>